@mixin bgImage ($name) {
    background-image: url($name);
    background-size: cover;
    background-position: center;   
}

%overlay{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
}