.header{
    position: relative;
    // height: 870px;
    z-index: 99;

    @include bgImage("../img/bg/header.jpg.jpg");
    
    &::before{
        @extend %overlay
    }

    /* Desktop MD*/
    @media (max-width: 1600px) {
        @include bgImage("../img/bg/header-1600.jpg.jpg"); 
    }

     /* Tablet */
     @media (max-width: 1199px) {
        @include bgImage("../img/bg/header-900.jpg.jpg"); 
    }

    /* Mobile */
    @media (max-width: 899px) {
        @include bgImage("../img/bg/header-600.jpg.jpg"); 
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        @include bgImage("../img/bg/header-320.jpg.jpg"); 
    }
}

.header__wrapper{
    position: relative;
    z-index: 9;

    display: flex;
    flex-direction: column;
    align-items: center;

    
    color: white;
    
}

.header__content{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 100px;
    
    /* Tablet */
    @media (max-width: 1199px) {
       padding-bottom: 50px; 
    }

    /* Mobile */
    @media (max-width: 899px) {
        padding-top: 20px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        padding-bottom: 40px;
    }
}

.header-buttons{
    display: flex;
    justify-content:space-between;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 140px;

    /* Tablet */
    @media (max-width: 1199px) {
        margin-bottom: 100px;
        width: 100%;
    }

    /* Mobile */
    @media (max-width: 899px) {
        margin-bottom: 30px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        
    }
}


// .header-buttons-search{
//     margin-left: auto;
// }

.header-content {
    margin-bottom: 148px;

    /* Tablet */
    @media (max-width: 1199px) {
        margin-bottom: 129px;
    }

    /* Mobile */
    @media (max-width: 899px) {
       margin-bottom: 80px; 
    }

    /* Mobile XS */
    @media (max-width: 599px) {
       margin-bottom: 50px; 
    }
}
.header__title {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 96px;
    line-height: 1;

    /* Tablet */
    @media (max-width: 1199px) {
        margin-bottom: 35px;
        font-size: 84px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        margin-bottom: 30px;
        font-size: 70px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        
    }
}
.header__desc {
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 20px;
    line-height:auto;
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;

    /* Tablet */
    @media (max-width: 1199px) {
        margin-bottom: 50px;
        font-size: 18px;
    }

    /* Mobile */
    @media (max-width: 899px) {
       font-size: 16px; 
       max-width: 430px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        margin-bottom: 30px;
        max-width: 290px;
    }
}

