.price {
    padding-top: 90px;
    padding-bottom: 100px;
    position: relative;

    @include bgImage("../img/bg/price-bg.jpg.jpg");

    &::before{
        @extend %overlay
    }

    /* Desktop MD*/
    @media (max-width: 1600px) {
        @include bgImage("../img/bg/price-bg-1600.jpg.jpg"); 
    }

     /* Tablet */
     @media (max-width: 1199px) {
        @include bgImage("../img/bg/price-bg-900.jpg.jpg"); 

        padding-top: 50px;
        padding-bottom: 50px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        @include bgImage("../img/bg/price-bg-600.jpg.jpg"); 

        padding-bottom: 40px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        @include bgImage("../img/bg/price-bg-320.jpg.jpg"); 

        padding-top: 40px;
    }
}



.price__content {
    position: relative;
    z-index: 9;
}

.price__header {  
    margin-bottom: 80px;
    text-align: center;

    /* Tablet */
    @media (max-width: 1199px) {
       margin-bottom: 50px; 
    }

    /* Mobile */
    @media (max-width: 899px) {
        margin-bottom: 40px;
    }

}

.price__title {
    margin-bottom: 40px;

    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    

    /* Tablet */
    @media (max-width: 1199px) {
        margin-bottom: 20px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        font-size: 14px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        margin-bottom: 10px;
    }

}



.price__subtitle {
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    
    .subtitle{
        color: #FFFFFF;
    }

    /* Tablet */
    @media (max-width: 1199px) {
        font-size: 38px;
    }

    /* Mobile */
    @media (max-width: 899px) {
       font-size: 30px; 
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        font-size: 26px;
    }
}

.price__row{
   display: flex; 
   justify-content: center;

   /* Mobile */
   @media (max-width: 899px) {
    flex-direction: column; 
    align-items: center;
   }
}

.price__row > * + *{
    margin-left: 30px;

    /* Mobile */
    @media (max-width: 899px) {
        margin-left: 0;
        margin-top: 30px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        &:nth-last-child(1){
            margin-top: 25px;
        }
    }
}
