.button-round{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    border:none;

}

.button-round:hover{
    cursor: pointer;
    background-color: #00c470;
}