.card {
    width: 270px;
    text-align: center;

    /* Tablet */
    @media (max-width: 1199px) {
        width: 195px;
    }

    /* Mobile */
    @media (max-width: 899px) {
        width: 270px;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        
    }
}
.card__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    /* Tablet */
    @media (max-width: 1199px) {
        margin-bottom: 20px;
    }
}
.card__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1;

    /* Tablet */
    @media (max-width: 1199px) {
        line-height: 1.5;
        margin-bottom: 10px;
    }
}

.card__title--down{
/* Tablet */
@media (max-width: 1199px) {
    margin-bottom: 34px;
}

/* Mobile */
@media (max-width: 899px) {
    margin-bottom: 10px;
}
}
.card__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 2.14;
    
    color: $paragraphColor;

    /* Tablet */
    @media (max-width: 1199px) {
        line-height: 1.57;
    }
}