.title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    
    letter-spacing: 4px;
    text-transform: uppercase;
    
    color: $accentText;
}

.title--color {
    color: #FFFFFF;
}